img{
	max-width: 100%;
}
.quitar-float{
  float:none;
 }
.espacio-arriba{
	margin-top:100px;
}
.pacifico{
	font-family: 'Pacifico', cursive;
}
.se-gris{
	background-color: #eee;
}
.padding-largo{
	padding: 5px 10px;
}
.grande{
	font-size: 3em;
}
.verde{
	color: #00887C;
}
.no-lista {
	margin: 0px;
	padding: 0px;
}
.no-lista li{
		list-style-type:none;
}
.inline-block{
	float: none;
	display: inline-block;
}
.espacio-derecha{
	margin-right: 1em;
}
a{
	color: #009FFF;
}
