doctype html
html(lang="en")
	head
		title Food Dev - El mejor lugar para comer y desarrollar
		meta(charset="utf-8")
		link(href="/css/bootstrap.min.css" rel="stylesheet")
		link( href="/css/style.css" rel="stylesheet")
		link(href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet")
		link(href="/css/animate.css" rel="stylesheet")
	body
		nav(class="se-gris padding-largo text-center")
			ul(class="no-lista mediano")
				li(class="col-md-4 inline-block pacifico green")
					a(href="index.html" class="verde") Food Dev #[small(class="lato small") Code & Fun ]
				li(class="col-md-4 inline-block")
					a(href="menu.html") Menú
				li(class="col-md-4 inline-block")
					a(href="contacto.html") Contacto
		block contenido